@page
@using App.Domain.Core.Helpers
@model HomeServices_RazorPage.Areas.Admin.Pages.Suggestions.IndexModel
@{
}

<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    سفارشات
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bsuggestioned table-hover table-striped" id="data-table">
                        <thead>
                            <tr>
                                <th class="p-low"><input type="checkbox" id="btn-check-all-toggle"></th>
                                <th>توضیحات</th>
                                <th>شهر</th>
                                <th>قیمت پیشنهادی</th>
@*                                 <th>تاریخ اجرا</th>
 *@                                <th>زمان اجرا</th>
                                <th>نام کارشناس</th>
                                <th>وضعیت سفارش</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var suggestion in Model.Suggestions)
                            {
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>@suggestion.Description</td>
                                    <td>@suggestion.City</td>
                                    <td>@suggestion.SuggestPrice</td>
                                    <td>@suggestion.RunungTimeOrder</td>
                                    <td><a @* asp-route-Id="@suggestion.ExpertId" *@ href="/expert/menu/content">@suggestion.ExpertName</a></td>
                                    <td>@suggestion.StausService.GetDisplayName()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->
@section Scripts
{
    <script src="~/AdminTemplate/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTemplate/js/pages/datatable.js"></script>
}