@page
@using HomeServices_RazorPage.Areas.Customer.Pages.Menu
@using App.Domain.Core.Helpers
@model DashboardModel
@{
}

<!-- ======================= dashboard Detail ======================== -->
<div class="goodup-dashboard-wrap gray px-4 py-5">
    <a class="mobNavigation" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="MobNav">
        <i class="fas fa-bars ms-2"></i>منو
    </a>
    <div class="collapse" id="MobNav">
        <div class="goodup-dashboard-nav sticky-top">
            <div class="goodup-dashboard-inner">
                <ul data-submenu-title="منو">
                    <li><a asp-page="Dashboard"><i class="lni lni-dashboard ms-2"></i>داشبورد</a></li>
                    <li><a asp-page="myorders"><i class="lni lni-files ms-2"></i>سفارش های من</a></li>
                </ul>
                <ul data-submenu-title="حساب کاربری">
                    <li><a asp-page="Profile"><i class="lni lni-user ms-2"></i> تنظیمات </a></li>
                    <li><a asp-page="/logout" asp-area=""><i class="lni lni-power-switch ms-2"></i>خروج</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="goodup-dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <h1 class="ft-medium fs-4">سلام مهرداد</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item text-muted"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item"><a href="#" class="theme-cl">داشبورد</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="dsd-boxed-widget py-5 px-4 bg-danger rounded">
                    <h2 class="ft-medium mb-1 fs-xl text-light count">@Model.Data.ActiveCount</h2>
                    <p class="p-0 m-0 text-light fs-md">آگهی های فعال</p>
                    <i class="lni lni-empty-file"></i>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="dsd-boxed-widget py-5 px-4 bg-success rounded">
                    <h2 class="ft-medium mb-1 fs-xl text-light count">@Model.Data.DoneCount</h2>
                    <p class="p-0 m-0 text-light fs-md">سفارش پایان یافته</p>
                    <i class="lni lni-eye"></i>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="dsd-boxed-widget py-5 px-4 bg-warning rounded">
                    <h2 class="ft-medium mb-1 fs-xl text-light count">@Model.Data.CommentCount</h2>
                    <p class="p-0 m-0 text-light fs-md">نظرات ثبت کرده</p>
                    <i class="lni lni-comments"></i>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="dsd-boxed-widget py-5 px-4 bg-purple rounded">
                    <h2 class="ft-medium mb-1 fs-xl text-light count">@Model.Data.Balance</h2>
                    <p class="p-0 m-0 text-light fs-md">موجودی</p>
                    <i class="lni lni-wallet"></i>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="portlet box shadow">
                    <div class="portlet-heading">
                    </div><!-- /.portlet-heading -->
                    <div class="portlet-body">
                        <div class="top-buttons-box mb-2">
                        </div>
                        <div class="row">
                            @if (Model.CustomerOrders is not null)
                            {
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="data-table" style="font-size: 14px;">
                                        <thead>
                                            <tr>
                                                <th class="p-low" style="padding: 8px;"><input type="checkbox" id="btn-check-all-toggle"></th>
                                                <th style="padding: 8px;">تصویر</th>
                                                <th style="padding: 8px;">عنوان</th>
                                                <th style="padding: 8px;">زمان ثبت</th>
                                                <th style="padding: 8px;">قیمت پایه</th>
                                                <th style="padding: 8px;">تاریخ تحویل</th>
                                                <th style="padding: 8px;">وضعیت</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var order in Model.CustomerOrders)
                                            {
                                                <tr>
                                                    <td style="padding: 8px;"><input type="checkbox"></td>
                                                    <td style="padding: 8px;">
                                                        <img style="border-radius: 50%; width: 50px; height: 50px;" src="@order.ImagePath" alt="Service Image" />
                                                    </td>
                                                    <td style="padding: 8px;">@order.HouseWork</td>
                                                    <td style="padding: 8px;">@order.CreationDate</td>
                                                    <td style="padding: 8px;">@order.BasePrice</td>
                                                    <td style="padding: 8px;">@order.CompletionDate</td>
                                                    <td class="px-2 py-1 medium bg-light-primary rounded text-info" style=" padding: 8px;">@order.StausService.GetDisplayName()</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- /.portlet-body -->
                </div>
                <!-- /.portlet -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>