@page
@using App.Domain.Core.Enum
@using HomeServices_RazorPage.Areas.Customer.Pages.Menu
@model SuggestionsModel
@{
}

<!-- ======================= dashboard Detail ======================== -->
<div class="goodup-dashboard-wrap gray px-4 py-5">
    <a class="mobNavigation" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="MobNav">
        <i class="fas fa-bars ms-2"></i>منو
    </a>
    <div class="collapse" id="MobNav">
        <div class="goodup-dashboard-nav sticky-top">
            <div class="goodup-dashboard-inner">
                <ul data-submenu-title="منو">
                    <li><a asp-page="Dashboard"><i class="lni lni-dashboard ms-2"></i>داشبورد</a></li>
                    <li><a asp-page="myorders"><i class="lni lni-files ms-2"></i>سفارش های من</a></li>
                </ul>
                <ul data-submenu-title="حساب کاربری">
                    <li><a asp-page="Profile"><i class="lni lni-user ms-2"></i> تنظیمات </a></li>
                    <li><a asp-page="/logout" asp-area=""><i class="lni lni-power-switch ms-2"></i>خروج</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="goodup-dashboard-content">
        <div class="dashboard-tlbar d-block mb-5">
            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item text-muted"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item"><a href="#">داشبورد</a></li>
                            <li class="breadcrumb-item"><a href="#" class="theme-cl">پیشنهادها</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="portlet box shadow">
                <div class="portlet-heading"></div>
                <div class="portlet-body">
                    <input type="hidden" asp-for="OnlineUser.Id" />
                    <div class="top-buttons-box mb-2"></div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" id="data-table">
                                <thead>
                                    <tr>
                                        <th>کارشناس</th>
                                        <th>توضیحات</th>
                                        <th>تاریخ اجرا</th>
                                        <th>ساعت اجرا</th>
                                        <th>قیمت پیشنهادی</th>
                                        <th>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <i class="fas fa-check-circle ms-1"></i>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.SuggestionDtos != null && Model.SuggestionDtos.Any())
                                    {
                                        foreach (var suggestion in Model.SuggestionDtos)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="ground ground-list-single">
                                                        <a asp-page="/expert/content" asp-route-id="@suggestion.ExpertId">
                                                            <img class="ground-avatar" src="/assets/img/t-1.png" alt="...">
                                                            <span class="profile-status bg-online pull-right"></span>
                                                            @suggestion.ExpertName
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>@suggestion.Description</td>
                                                <td>@suggestion.CompletionDate</td>
                                                <td>@suggestion.RunungTimeOrder</td>
                                                <td>@suggestion.SuggestPrice</td>
                                                @if (suggestion.StausService == StausServiceEnum.NewlyRegistered)
                                                {
                                                    <td>
                                                        <div class="d-flex justify-content-center align-items-center">
                                                            <a onclick="return confirm('از تایید کارشناس اطمینان دارید؟')"
                                                               asp-page-handler="Accept" asp-route-Id="@suggestion.Id" asp-route-orderNumber="@suggestion.OrderId" class="btn btn-success btn-sm">
                                                                <i class="fas fa-check-circle ms-1"></i> تایید
                                                            </a>
                                                        </div>
                                                    </td>
                                                }

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" class="text-center">
                                                <div class="alert alert-warning">
                                                    پیشنهادی وجود ندارد
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->
    </div><!-- /.goodup-dashboard-content -->
</div><!-- /.goodup-dashboard-wrap -->